<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <title>{% if page.title %}{{ page.title | append: " - " | append: site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/fontawesome-all.min.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
  <!-- <link href="/css/style.css" rel="stylesheet"> -->
  <link type="image/png" href="/img/icon.png" rel="shortcut icon" />
  <link href="/css/fonts.css" rel="stylesheet">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
</head>
